
@{
    ViewBag.Title = "OrderReceive";
}

<h2>Order Receive</h2>
<p>Thank You</p>
<p>Your Order Has Been Received</p>
<p>Thank You For Choosing us</p>
<p>Music Store</p>
<td>
    <a href="/Store">
        <button class="btn btn-primary">Back to Store</button>
    </a>
</td>